[Unit]
Description=Posture tracker web service

[Service]
Environment="GIN_MODE=release" "PORT=8088"
ExecStart=/usr/local/bin/posture

[Install]
WantedBy=multi-user.target
